* {
    box-sizing: border-box;
}




body {
    background-color: rgb(232, 232, 232);
}

button {
    background-color: darkgray;
    text-align: center;
}

.hidden {
    display: none;
}

tr {
    height: 3em;
}

td {
    padding: 0px 5px;
    min-width: 3em;
    text-align: center;
}

input[type="number"] {
    max-width: 3.5em;
    min-height: 2.6em;
    display: inline-block;
}

button {
    min-height: 2.6em;
}

select {
    display: inline-block;
    min-width: 5.6em;
}

span {
    display: inline-block;
}

.W {
    background-color: rgb(255, 255, 255);
}

.U {
    color: white;
    background-color: rgb(14, 104, 171);
}

.B {
    color: white;
    background-color: rgb(21, 11, 0);
}

.R {
    background-color: rgb(211, 32, 42);
}

.G {
    color: white;
    background-color: rgb(0, 115, 62);
}

.C {
    background-color: rgb(205, 202, 193);
}

.L {
    color: white;
    background-color: rgb(115, 104, 84);
}

.MC {
    background-color: rgb(255, 219, 89);
}
